name: mindquest
description: A Flutter mental health gamification app
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  google_fonts: ^6.1.0
  fl_chart: ^0.68.0
  lucide_icons: ^0.257.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  firebase_core: ^4.1.1
  url_launcher: ^6.2.2

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/


